.center {
    text-align: right;
    padding: 0.5em;
  }
  
  .textleft {
    text-align: left;
    padding: 0.5em;
  }
  
  .textRight {
    position: inherit;
    left: 40%;
  }
  
  .textDown {
    position: relative;
    bottom: -35%;
  }

  #sendButton{
      background-color: greenyellow;
  }

  .sendButton{
    background-color: greenyellow;
}

 /* .ticketCard{
    margin: 1px;
  }*/

