.center {
    text-align: right;
    padding: 0.5em;
  }
  
  .textleft {
    text-align: left;
    padding: 0.5em;
  }
  
  .textRight {
    position: inherit;
    left: 40%;
  }
  
  .textDown {
    position: relative;
    bottom: -35%;
  }

